@use 'variables' as v;
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    scale: 1.2;
}

.btn{
    padding: 15px;
    font-family: v.$btnFont;
    background-color: v.$numColor;
    font-size: v.$fontSize+10;
    border-radius:10px ;
    color: v.$btnFontColor;
    border: none;
    transition:  0.3s ease, 0.2s ease-out;
    // &:hover{
    //     scale: 1.05;
    //     font-weight: 700;
    //     background: #eee;
    //     color: #343434;
    // }
}
.pressed{
    background: #eee !important;
    font-weight: 700;
    color: #343434;
    scale: 0.95;
    transition: none;
    
}

.display {
    grid-area: 1 / 1 / 2 / 5;
    background: v.$disColor;
    padding: 10px;
    color: v.$disFontColor;
    font-size: v.$fontSize+15;
    border: none;
    border-radius: 10px;
    font-family: v.$disFont;
    text-align: right;
    &:focus{
        text-align: right;
        outline: none;
        padding: 10px;
    }
}

.reset {
    @extend .btn;
    grid-area: 2 / 1 / 3 / 2;
    background:v.$addColor ;
}

.divide {
    @extend .btn;
    grid-area: 2 / 2 / 3 / 3;
    background:v.$divColor ;
}

.multiply {
    @extend .btn;
    grid-area: 2 / 3 / 3 / 4;
    background:v.$multiColor ;
}

.substract {
    @extend .btn;
    grid-area: 2 / 4 / 3 / 5;
    background:v.$subColor;
}

.seven {
    @extend .btn;
    grid-area: 3 / 1 / 4 / 2;
}

.eight {
    @extend .btn;
    grid-area: 3 / 2 / 4 / 3;
}

.nine {
    @extend .btn;
    grid-area: 3 / 3 / 4 / 4;
}

.add {
    @extend .btn;
    grid-area: 4 / 1 / 5 / 2;
    background:v.$resColor ;
}

.four {
    @extend .btn;
    grid-area: 4 / 1 / 5 /2;
}

.five {
    @extend .btn;
    grid-area: 4 / 2 / 5 / 3;
}

.six {
    @extend .btn;
    grid-area: 4 / 3 / 5 / 4;
}

.one {
    @extend .btn;
    grid-area: 5 / 1 / 6 / 2;
}

.two {
    @extend .btn;
    grid-area: 5 / 2 / 6 / 3;
}
.three{
    @extend .btn;
    grid-area: 5 / 3 / 6 / 4;
}

.zero {
    @extend .btn;
    grid-area: 6 / 1 / 7 / 3;
}

.dot {
    @extend .btn;
    grid-area: 6 / 3 / 7 / 4;
}

.add {
    @extend .btn;
    grid-area: 3 / 4 / 5 / 5;
}

.enter {
    @extend .btn;
    grid-area: 5 / 4 / 7 / 5;
    background:v.$entColor ;
    
}