@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Share+Tech+Mono&display=swap');
$fontSize:10px;
$disFont:"Jersey 10", sans-serif;
$disFontColor: #dca819;
$btnFont: "Share Tech Mono", monospace;
$btnFontColor:#eee;
$disColor:#43434381;
$numColor:#58508d;
$addColor:#de5a79;
$divColor:#ff6361;
$multiColor:#ff8361;
$subColor:#ff9061;
$resColor:#8a508f;
$entColor:#bc5090;